<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>189868801968-gpdcnlt74h1iur6olv1gf28ko46m7cku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189868801968-gpdcnlt74h1iur6olv1gf28ko46m7cku</string>
	<key>API_KEY</key>
	<string>AIzaSyA5xWE7Q9ntBW2wgHZxo638s0_hOE-I0AY</string>
	<key>GCM_SENDER_ID</key>
	<string>189868801968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikkitran.Nooves</string>
	<key>PROJECT_ID</key>
	<string>noovs-d9aab</string>
	<key>STORAGE_BUCKET</key>
	<string>noovs-d9aab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189868801968:ios:a56e0861623f19da</string>
	<key>DATABASE_URL</key>
	<string>https://noovs-d9aab.firebaseio.com</string>
</dict>
</plist>